{% extends 'sindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="477" height="229" border="1" class="table table-striped">
    <tr>
      <th scope="col">username</th>
      <th scope="col">service</th>
      <th scope="col">dateee</th>
      <th scope="col">&nbsp;</th>
    </tr>
    {% for i in data %}

    <tr>
     <td>&nbsp;{{i['name']}}</td>
      <td>{{i['service_name']}}</td>
      <td>{{i['date']}}</td>
      <td><p><a href="seemore?id={{i['request_id']}}&sn={{i['service_name']}}&un={{i['lid']}}#about">See More </a></p>
        <p>&nbsp;</p></td>
    </tr>
    {% endfor %}

  </table>
</form>
</body>
{% endblock %}
