{% extends 'sindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <th scope="row">user</th>
      <td>service</td>
      <td>amount</td>
        <td></td>

    </tr>
   {% for i in val %}

    <tr>
     <td>&nbsp;{{i['name']}}</td>
      <td>{{i['service_name']}}</td>
      <td>{{i['amount']}}</td>

        {% if i['st'] == 'accepted' %}
                <td>  <a href="generate?id={{i['request_id']}}#about">Generate certificate</a></td>
                        <td>  <a href="upldcertficate?id={{i['request_id']}}#about">upload certificate</a></td>


        {% else %}
                <td>  <a href="upldcertficate?id={{i['request_id']}}#about">upload certificate</a></td>

        {% endif %}

    </tr>
    {% endfor %}

  </table>
</form>
</body>
{% endblock %}
