<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <!--<p><a href="addstaff">Add staff</a></p>-->
  <p> <a href="managestaff">Manage staff </a></p>
  <p> <a href="updateservice">manage service</a></p>
  <!--<p> <a href="updateservice">update service</a></p>-->
  <p> <a href="addrequirements">add certificate requirements</a></p>
  <p> <a href="updatestatus">update request status</a></p>
  <!--<p> <a href="addtax">add tax details</a></p>-->
  <p> <a href="managetax">manage tax details</a></p>
  <p> <a href="addnotification">add notification</a></p>
  <p> <a href="viewcomplaints">view complaints </a></p>

  <p>&nbsp;</p>
</form>
</body>
</html>
