{% extends 'uindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="ownership1">
  <table width="450" height="353" border="1" class="table table-striped">
    <tr>
      <th width="95" scope="row">building ID </th>
      <td width="315"><input type="text" name="textfield8" required/></td>
    </tr>
    <tr>
      <th scope="row">local body </th>
      <td><input type="text" name="textfield7" required /></td>
    </tr>
    <tr>
      <th scope="row">zonal office  </th>
      <td><input type="text" name="textfield6" required/></td>
    </tr>
    <tr>
      <th scope="row">ward/door no. </th>
      <td><input type="text" name="textfield5" required/></td>
    </tr>
    <tr>
      <th scope="row">owner</th>
      <td><input type="text" name="textfield4" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <th scope="row">date</th>
      <td><input type="date" name="textfield3" required/></td>
    </tr>
    <tr>
      <th scope="row">functionality</th>
      <td><input type="text" name="textfield2" required/></td>
    </tr>
    <tr>
      <th scope="row">category</th>
      <td><input type="text" name="textfield" required/></td>
    </tr>
    <tr>
      <th scope="row">purpose</th>
      <td><select name="select">
            <option value="adhaar">adhaar</option>
            <option value="bank">bank</option>
            <option value="construction">construction purpose</option>
            <option value="court">court purpose</option>
            <option value="treatment">treatment purpose</option>
            <option value="visa">visa purpose</option>
            <option value="water">water connection</option>
            <option value="telephone">telephone connection</option>

      </select>
      </td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="Submit" value="Submit" /></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
