{% extends 'uindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <p><a href="viewservice">view service</a></p>
  <!--<p><a href="#">apply services</a></p>-->
  <p><a href="viewstatus">view application status</a></p>
  <!--<p><a href="#">upload documents</a></p>-->
  <p><a href="viewtax">view tax info</a></p>
    <p><a href="viewreply">view reply</a></p>

  <!--<p><a href="#">tax payment</a></p>-->
  <p><a href="taxhistory">view tax history </a></p>
  <p><a href="addcomplaint">add complaint </a></p>

  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
